/*
Challenge:
Center the text in the <p> and <h4> elements.

Note: you should only add ONE property, as inheritance 
should take care of applying it to both elements.
*/

body {
    margin: 20px;
    text-align: center;
    font-family: Garamond, serif;
    font-size: 1.2rem;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #fcba04;
    border-bottom: 8px solid #590004;
    color: #a50104;
    /* text-shadow: 2px 2px 4px #250001; */
}

.border-blue {
    border: 1px dotted blue;
}

.card-text{
    animation: pulseText 1.5s infinite alternate;
}

@keyframes pulseText {
    from {
        transform: scale(1);
        text-shadow: none;
        opacity: 0.8;
    }
    to {
        transform: scale(1.05);
        text-shadow: 2px 2px 4px #250001;
        opacity: 1;
    }
}